<% if signed_in? %>

	<nav class="top-nav">
		<%= link_to "Sign Out", destroy_user_session_path, method: "delete"%>
	</nav>

	<section class="reminders">
		<h3>Upcoming Nags</h3>
		<% if @reminders.any? %>
			<h5>Reminders: (<%= @reminders.count %>)</h5>
			<%= render @reminders %>
			<%= will_paginate @reminders %>
		<% end %>
	</section>

	<div class="reminder-form">
		<h3>Add a reminder</h3>
		<%= render 'shared/reminder_form' %>
	</div>

	<div class="reminders">
		<h3>Future</h3>
		<% if @future_reminders %>
			<h5>Reminders: (<%= @future_reminders.count %>)</h5>
			<%= render @future_reminders %>
		<% end %>
	</div>

<% else %>

	<div class="center hero-uint">
	  <h1>NAG <br><small>Don't forget to send a card.</small></h1>
	  <%= link_to "Get Started", new_user_registration_path, class: "btn btn-large btn-primary" %>
	  <p><br>Already have an account? <%= link_to "Sign in", new_user_session_path %></p>
	</div>

<% end %>